
.dboard__onpoll{
/*   background: linear-gradient(190deg, rgba(131,58,180,1) 0%, rgba(198,29,253,1) 25%, rgba(221,211,92,1) 57%, rgba(252,176,69,1) 100%); */
  width:100%;
}
.dboard__header{
  display:flex;
  justify-content:start;
  flex-wrap:none;
  heighi:100px;
  width:100%;
/*   background-color:#626293; */
  background: #56CCF2;
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);   
  border-radius:10px;
}
.dboard__img{
  height:70px ;
  width:70px;
  padding:30px 10px;
/*   border-radius:50%; */
}
.dboard__header__name{
  padding:20px 30px;
}
.dboard__header__roll{
  padding:20px 30px;
}
.dboard__prev_page{
  height:20px;
  width:150px;
  background-color:#575658;
  border-radius:20px;
  margin-left:73%;
  padding:10px 5px 10px 10px;
  text-align:center;
  color:white;
  cursor:pointer;
}
.dboard__prev_page:hover{
  background-color:#7a19e1;
  border:2px Solid #e09f9f;
}

/* dashboard confirmation  page and submit button*/
.dashboard__conf_maindiv{
  display:flex;
  justify-content:center;
  
}
@media(min-width:300px) and (max-width:500px){
  .dboard__prev_page{
     margin-left:5%;
  }
}

