.Info__img{
    min-height:100vh;
    width:100%;
}

.info__inner__div{
    height:60px;
    width:100%;
    background-color:black;
    border-radius:20px;  
    display:flex;
    justify-content:end;
    gap:20px;
}
.info__result{
    height:20px;
    width:50px;
    background-color:white;
    border-radius:20px;
    color:black;
    cursor:pointer;
    padding:5px 12px;  
    margin-top:20%;
 
   
}
.info__result:hover{
    background-color:#555353;
    border:2px Solid white;
}

.info__login{
    height:20px;
    width:40px;
    background-color:white;
    border-radius:20px;
    color:black;
    padding:5px 15px;  
    margin-top:19%;
    margin-right:20px;
}
.info__login:hover{
    background-color:#555353;
    border:2px Solid white;
}


#info__link{
    text-decoration:none;
}
#info__result__link{
    text-decoration:none;
}


