.resultunit__main_div{
  display:flex;
  justify-content:start;
  padding:30px;
}
.resultunit__div2{
  height:100%;
  width:100%;
  background-color:#fbf4fb;
  padding:10px 50px;
  border-radius:20px;
  border:2px solid black;
  font-size: 1.25em;
}
.resultunit__img{
  width:120px;
  height:120px;
  background-color:green;
  border-radius:50%;
  margin-top:0.5%;
}
.resultunit__details{
  margin-left:30%;
  margin-top:-13%;
}
@media (min-width:350px) and (max-width:500px){
  
  .resultunit__img{
    margin-left:18%;
  }
  .resultunit__details{
    margin-left:0%;
    margin-top:1%;
  }
}